body{
    margin:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/*navigation bar*/
.topnav{
    background-color:#e2330A ;
    overflow: hidden;
    font-size: 20px;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    height:30px;
    padding-top: 5px;
    width:100px;
  }
  
.topnav a.active {
    background-color: #ffc440;
    color: black;
  }

 /*container*/ 
.container{
    width: 100%;
    height:100%;
    display:grid;
    grid-template-columns:1fr 1fr;
    background-color:#3B2C93;
}

/*grid1*/
.grid1{
    text-align: center;
}

/*form*/
.labeltext{
    color: white;
}

h1{
    color: white;
    font-size:50px;
}

.textbox{
    border: 10px;
    border-radius: 5px;
}

.button1{
    width: 150px;
    height: 30px;
    border: 10px;
    border-radius: 15px;
    background-color:#ffc440 ;
    margin-top: 20px;
}

/*img*/
.stones{
    object-fit: cover;
    height:100%;
    width:100%;
}

@media (max-width: 768px){
    .container{
        display: inline-block;
    }
    
    .grid1{
        width:100%;
    }
    
    .grid2{
        display: none;
    }

    .labeltext{
        color: white;
        font-size:3vw;
    }
    
    h1{
        color: white;
        font-size:8vw;
    }

}