body{
    margin:0;
}

.container{
    width: 100%;
    height: 100vh;
    display:flex;
    background-color:#3B2C93;
}

.stones{
    height:100vh;
    width: 100%;
    object-fit: cover;
    opacity: 60%;
}

.grid1{
    width: 50%;
    text-align: center;
}

/*navigation bar*/

.topnav{
    background-color:#e2330A ;
    overflow: hidden;
    font-size: 20px;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    height:30px;
    padding-top: 5px;
    width:100px;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ffc440;
    color: black;
  }

/*form*/

.labeltext{
    color: white;
    font-size:1em;
}

h1{
    color: white;
    font-size:3em;
}

.textbox{
    border: 10px;
    border-radius: 5px;
}

.button1{
    width: 150px;
    height: 30px;
    border: 10px;
    border-radius: 15px;
    background-color:#ffc440 ;
    margin-top: 20px;
}

@media only screen and (min-width: 480px){
    .grid1{
        width:100%;
    }
    
    .grid2{
        display: none;
    }


}