*{
    padding: 0%;
    margin: 0%;
}

.hero{
    background-color:burlywood;
    height: 80px;
    width:100%;
    padding-top: 45px;
    color: aliceblue;
    text-align: center;
}

.container{
    padding: 40px;
    width: 392px;
    height: 80vh;
    font-size:1em;
    display:grid;
    grid-template-columns: 4fr;
    gap: 24px;
}

.cards{
    border-radius: 5px;
}

footer{
    background-color:burlywood;
    height: 100px;
}

footer>p{
    text-align: center;
}
/*
@media (max-width:500px){
    .container
}
    */
