*{
    padding: 0%;
    margin: 0%;
}

body{
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.hero{
    background-color:burlywood;
    height: 80px;
    width:100%;
    padding-top: 45px;
    color: aliceblue;
    text-align: center;
}

.container{
    flex: 1;
    padding: 48px;
    margin: auto;
    width: 1176px;
    font-size:1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.cards{
    border-radius: 20px;
    background-color:burlywood;
    height: 200px;
}

footer{
    background-color:burlywood;
    height: 96px;
    align-items: center;
    justify-content: center;
}

footer>p{
    text-align: center;
}
/*
@media (max-width:500px){
    .container
}
    */
