body{
  margin:0;
  height: 100vh;
  width: 100%;
  background-color:  #131120;
}

/*navigation bar*/
.topnav{
  background-color:#8316B9;
  overflow: hidden;
  font-size: 20px;
}

.topnav a {
  float: left;
  text-align: center;
  text-decoration: none; /*remove hyperlink underline*/
  height:30px;
  padding-top: 5px;
  width:100px;
  background-color: #c711e0;
  color: white;
}

/*body*/

body{
  
}

.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: white;
  width: 80%;
  margin: 5%;
  border: 2px solid;
  padding: 5%;
  text-align: center;
}

.textField{
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent
}

.cardInfo{
  background-color: #605a90;

}

button{
  border-radius: 5px;
}

/*footer*/
footer{
  background-color: #8316B9;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  }

footer>p{
  color:white;
}